rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() { return request.auth != null; }
    function isOwner(uid) { return signedIn() && request.auth.uid == uid; }
    function isAdmin() { return signedIn() && request.auth.token.admin == true; }
    function isCreateOrUpdate() { return request.resource != null; }

    match /exports/{uid}/{allPaths=**} {
      allow read: if isOwner(uid) || isAdmin();
      allow write: if isAdmin() && isCreateOrUpdate();
    }

    match /evidence/{allPaths=**} {
      allow read: if isAdmin();
      allow write: if isAdmin() && isCreateOrUpdate();
    }

    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
